@tailwind base;
@tailwind components;
@tailwind utilities;

/* O Tailwind agora controla tudo via classes no App.jsx */
body {
  @apply bg-dmd-bg text-dmd-black font-sans;
}

h1, h2, h3, h4, h5, h6 {
  @apply font-display;
}
